/* For small screens */
@media(max-width:800px) {

    footer {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 10px;

        font-size: 15px;
    }

    iframe {
        height: auto;
        width: auto;
        max-width: 80%;
    }
 }

 /* For big screens */
 @media(min-width: 801px) {
    footer {
        grid-template-columns: 30% 30%;
        text-align: center;

        font-size: 25px;
    }

    iframe {
        height: 200px; 
        width: 700px;
        max-width: 100%;
    }
 }

footer {
    background-color: royalblue ;
    margin-top: auto;
    width: 100%;

    /* spacing */
    padding: 10px;

    /* position */
    bottom: 0;
    margin-bottom: 0;


    display: grid;
    /* grid-column: auto; */
    align-items: center;
    justify-content: center;  
    text-align: center;

}

#about-us {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

iframe {
    border: none;
}