#footer {
    background-color: royalblue ;
    
    width: 100%;

    /* spacing */
    padding: 10px;

    /* position */
    bottom: 0;
    margin-bottom: 0;


    display: block;
    text-align: center;
}