footer {
    background-color: royalblue ;
    /* position: relative;
    top: 0; */

    margin-top: auto;

    width: 100%;

    /* spacing */
    padding: 10px;

    /* position */
    bottom: 0;
    margin-bottom: 0;


    display: grid;
    /* grid-column: auto; */
    grid-template-columns: 30% 30%;
    align-items: center;
    justify-content: center;  
    text-align: center;



    font-size: 25px;
}

#about-us {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}
iframe {
    height: 200px; 
    width: 700px;
    max-width: 100%;
    border: none;
    /* border-radius: 8px; */
}