form {
    /* position */
    /* margin-left: 30%;
    margin-right: 30%; */
    /* this is done because when the seat map appeared the  form size changed*/
    max-width: 500px;
    min-width: 500px;

    box-sizing: border-box;

}

/* the form on the main page did not center correctly */
#purchase-tickets-form {
    max-width: 1000px;
    min-width: 700px;
}

.field {
    /* border */
    border: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;

    padding: 1vw;

    /* contents alignment */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */

    /* font-size: 1.5vw; */
    font-size: 25px;
}

fieldset {
    /* border */
    border: solid;
    border-color: #2b2a33;
    border-width: 2px;
    border-radius: 5px;


    /* contents alignment  */
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-direction: column;

    /* text-align: center;   */

}

input, select {
    min-width: 100px;
    max-width: 1000px;
    /* flex: 0 0 2vw; */
    /* font-size: 1.5vw; */
    font-size: 25px;

    background-color: #28292e;
    color: white;

    border: solid;
    border-color: #34353b;
    border-radius: 0.5vw;
}

/* in the book_flight.php
 in order to center the button */
#choose-seats-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
