 /* For small screens */
 @media(max-width:800px) {

    form {
        max-width: 300px;
        min-width: 300px;

        border-width: 2px;
        border-radius: 10px;
    }

    /* for forms that have more than one fieldset do not show form border
    ex 
    in the book_tickets form every passenger has their own fieldset,
    each fieldset has its own border, no need to show form border as well
    */
    form:has(fieldset:nth-of-type(2)) {
        /* this is done because when the seat map appeared the  form size changed*/
        max-width: 300px;
        min-width: 300px;
    }

    /* the form on the main page did not center correctly */
    /* #purchase-tickets-form {
        max-width: 500px;
        min-width: 300px;
    } */


    .field {
        padding: 1vw;
        /* font-size: 1.5vw; */
        font-size: 15px;
    }

    fieldset {
        border-width: 2px;
        border-radius: 10px;
    }

    /* This form has differen */
    #purchase-tickets-form {
        max-width: 300px;
        min-width: 300px;
    }

    input, select, option {
        width: 100%;
        min-width: 200px;
        font-size: 15px;
        border-radius: 0.5vw;
    }

    button {
        width: 100%;
        max-width: 200px;
        min-width: 200px;
        font-size: 15px;
        border-radius: 0.5vw;
    }

 }

 /* For big screens */
 @media(min-width: 801px) {

    form {
        max-width: 500px;
        min-width: 500px;

        border-width: 2px;
        border-radius: 5px;
    }

    /* for forms that have more than one fieldset do not show form border
    ex 
    in the book_tickets form every passenger has their own fieldset,
    each fieldset has its own border, no need to show form border as well
    */
    form:has(fieldset:nth-of-type(2)) {
        /* this is done because when the seat map appeared the  form size changed*/
        max-width: 500px;
        min-width: 500px;
    }

    /* the form on the main page did not center correctly */
    #purchase-tickets-form {
        max-width: 1000px;
        min-width: 700px;
    }

    .field {
        padding: 1vw;
        /* font-size: 1.5vw; */
        font-size: 25px;
    }

    /* if a form has only one fieldset*/
    fieldset:only-of-type {
        /* contents alignment  */
        display: flex;
        justify-content: space-around;
        /* align-items: center; */
        flex-direction: column;

    }

    fieldset {
        border-width: 2px;
        border-radius: 5px;
    }

    input, select, option, button{
        min-width: 100px;
        max-width: 1000px;
        /* flex: 0 0 2vw; */
        /* font-size: 1.5vw; */
        font-size: 25px;
        border-radius: 0.5vw;
    }

 }

form {
    box-sizing: border-box;

    display: flex;
    justify-content: space-around;
    flex-direction: column;

    border: solid;
    border-color: #2b2a33;
}

/* for forms that have more than one fieldset do not show form border
ex 
in the book_tickets form every passenger has their own fieldset,
each fieldset has its own border, no need to show form border as well
*/
form:has(fieldset:nth-of-type(2)) {
    box-sizing: border-box;

    display: flex;
    justify-content: space-around;
    flex-direction: column;

    border:none;
}

/* the form on the main page did not center correctly */
/* #purchase-tickets-form {
    max-width: 1000px;
    min-width: 700px;
} */

.field {
    /* contents alignment */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
}

/* if a form has only one fieldset*/
fieldset:only-of-type {
    /* border */
    border: none;

    /* contents alignment  */
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-direction: column;
    /* text-align: center;   */
}

fieldset {
    /* border */
    border: solid;
    border-color: #2b2a33;

    /* contents alignment  */
    display: flex;
    justify-content: space-around;

    /* align-items: center; */
    flex-direction: column;

    /* text-align: center;   */

}

input, select, option {
    background-color: #28292e;
    color: white;

    border: solid;
    border-color: #34353b;
}

button {
    background-color: #28292e;
    color: white;

    /* font-weight: bold; */


    border: solid;
    border-color: #34353b;
}

button:hover {
    background-color: royalblue;
}

/* in the book_flight.php
 in order to center the button */
#choose-seats-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
