#header {
    /* position */
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

    /* padding: 10%; */
    /* coloring */
    background-color: royalblue;
    
}

nav {
    /* place nav bar on top */
    position: sticky;
    top: 0;


    /* contens alignment */

}