#header {
    /* position */
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
 
    height: 60px;
    width: 100%;

    /* nav bar alignment */
    display: flex;
    align-items: center;


    /* coloring */
    background-color: royalblue;
    
}

nav {
    /* TODO maybe make position sticky */
    /* place nav bar on top */
    margin-left: auto;
    margin-right: auto;
    width: 30%;  /* no need to change will be burger for smaller screens */

    /* contens alignment */
    display: flex;
    justify-content: space-evenly;
}

/* apply only inside the nav bar  */
nav > a {
    flex: 1 1 auto;
    color: white;
}