/* For small screens */
@media(max-width:800px) {
  #seat-map-container {
    /* spacing */
    height: auto;
    width: 100%;
    margin: auto;

    max-width: 800px;
    min-width: 800px;
  }
  
  #plane-body {
   
    /* spacing */
    width: 100%;
    background-color: white;

    /* border */
    border-radius: 5px;

    /* gap:0.5vw; */
  }

  /* doesnt really matter if seats overflow outside row
    since it is only used to center the seats
  */
  .row {
    /* alignment of seats in each row */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row; 
  }

  .seat, .seat-number, .taken-seat, .rowLetter{
    border-radius: 4px; /* must change for smaller screens */

    /* width:10px; */

    flex: 0 0 2vw;  
    /*flex: 1 1 0.2vw;  /* must change for phones */
    /* to fix gap for 1 digit numbers */
    /* min-width: 2.3vw; */
    /* min-width: 2em; */

    /* maybe change depending in screen*/
    font-size: 1.5vw;
  }
 }

 /* For big screens */
 @media(min-width: 801px) {
  #seat-map-container {
    /* spacing */
    height: auto;
    width: 100%;
    margin: auto;

    max-width: 1200px;
    min-width: 900px;

    gap: 10px;
  }
  
  #plane-body {
   
    /* spacing */
    width: 100%;
    background-color: white;

    /* border */
    border-width: 1px;
    border-radius: 5px;

    /* gap:0.5vw; */
  }

  /* doesnt really matter if seats overflow outside row
    since it is only used to center the seats
  */
  .row {
    /* alignment of seats in each row */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row; 
  }

  .seat, .seat-number, .taken-seat, .rowLetter{
    border-radius: 4px; /* must change for smaller screens */
    border-width: 1px;

    /* width:10px; */

    flex: 0 0 2vw;  
    /*flex: 1 1 0.2vw;  /* must change for phones */
    /* to fix gap for 1 digit numbers */
    /* min-width: 2.3vw; */
    /* min-width: 2em; */

    /* maybe change depending in screen*/
    font-size: 1.5vw;
  }
 }



#seat-map-container {
  /* border */
  /* TODO REMOVE */
  border: solid;
  border-color: black;

  /* alignment of plane body*/
  /* this is turned into flex by js */
  display: flex;    
  /* display:flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
 
#plane-body {
  overflow: scroll;

  /* border */
  border:solid;
  border-color: white;


  /* alignment of items in plane body */
  /* TODO check why only deisplay:flex was commented */
  display: flex; 
  justify-content: space-evenly;
  flex-direction: column;

  /* gap:0.5vw; */
  color: black;
}

/* doesnt really matter if seats overflow outside row
  since it is only used to center the seats
*/
.row {
  /* alignment of seats in each row */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row; 
}

.seat, .seat-number, .taken-seat, .rowLetter{
  border: solid;
  border-width: 1px;

  aspect-ratio: 1/1;  /* makes the div a square */
  /* width:10px; */

  /* to align itemes inside seat */
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: antiquewhite;

}