/* html,
body {
  height: 100%;
  width: 100%;
  margin: 0%;
  background-color: slategray;

} */


#seat-map-container {
  /* TODO make parent a display flex and manage this without margin */
  /* spacing */
  height: auto;
  width: 100%;
  margin: auto;

  /* border */
  border: solid;
  border-color: black;
  border-width: 1px;


  /* alignment of plane body*/
  display: flex;
  justify-content: center;
  align-items: center;
}
 
#plane-body {
  overflow: scroll;
  /* TODO readjust later when the main screen is configured */
  /* spacing */
  height: 60%;
  width: 70%;

  /* border */
  border: solid;
  border-color: black;
  border-width: 1px;

  /* alignment of items in plane body */
  display: flex;
  /* justify-content: space-around; */
  justify-content: space-evenly;

  flex-direction: column;


  /* gap:0.5vw; */
  color: black;
}

/* doesnt really matter if seats overflow outside row
  since it is only used to center the seats
*/
.row {
  /* TODO delete later */
  border:solid;
  border-color: white;
  border-width: 1px;


  /* alignment of seats in each row */
  display: flex;
  
  justify-content: space-evenly; /* TODO see space around and space between */
  align-items: center;

  flex-direction: row;
  
}

.seat, .seat-number, .rowLetter{
  border: solid;
  border-radius: 4px; /* must change for smaller screens */
  border-width: 1px;

  aspect-ratio: 1/1;  /* makes the div a square */
  /* width:10px; */

  flex: 0 0 2vw;  
  /*flex: 1 1 0.2vw;  /* must change for phones */
  /* to fix gap for 1 digit numbers */
  /* min-width: 2.3vw; */
  /* min-width: 2em; */

  /* to align itemes inside seat */
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: antiquewhite;

  /* maybe change depending in screen*/
  font-size: 1.5vw;
}
