/* For small screens */
@media(max-width:800px) {
  #seat-map-container {
    /* spacing */
    height: auto;
    width: 100%;
    margin: auto;

    max-width: 700px;
    min-width: 400px;
  }
  
  #plane-body {
    /* spacing */
    width: 100%;
    background-color: white;

    /* border */
    border-radius: 8px;
  }

  .seat, .seat-number, .taken-seat, .rowLetter{
    border-radius: 4px;
    flex: 0 0 2.5vw;
    font-size: 2vw;
  }
 }

 /* For big screens */
 @media(min-width: 801px) {
  #seat-map-container {
    /* spacing */
    height: auto;
    width: 100%;
    margin: auto;

    max-width: 1300px;
    min-width: 1000px;

    gap: 10px;
  }
  
  #plane-body {
    /* spacing */
    width: 100%;
    background-color: white;

    /* border */
    border-width: 1px;
    border-radius: 5px;
  }

  .seat, .seat-number, .taken-seat, .rowLetter{
    border-radius: 4px; 
    border-width: 1px;

    flex: 0 0 1.7vw;  

    font-size: 1.5vw;
  }
 }


#seat-map-container {
  /* alignment of plane body*/
  /* this is turned into flex by js */
  display: flex;    
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
 
#plane-body {
  overflow: scroll;

  /* border */
  border:solid;
  border-color: white;
  border-width: 1px;

  /* alignment of items in plane body */
  /* TODO check why only deisplay:flex was commented */
  display: flex; 
  justify-content: space-evenly;
  flex-direction: column;

  color: black;
}

/* doesnt really matter if seats overflow outside row
  since it is only used to center the seats
*/
.row {
  /* alignment of seats in each row */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.seat, .seat-number, .taken-seat, .rowLetter{
  border: solid;
  border-width: 1px;

  aspect-ratio: 1/1;  /* makes the div a square */

  /* to align itemes inside seat */
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: antiquewhite;
}