body {
    background-color: #2f2f2f;
    color:whitesmoke;
    margin: 0;
    font-size: 100%;
}



.error-message {
    color: red;
    font-style: italic;
    /* 
    item still takes up space.
    If it must be removed use
    display:none
    Similar to element-name.hidden = true in js
    */
    visibility: hidden;
}


#flight-info {
    display: flex;
    align-items: center;
    justify-content: space-around;

    flex-direction: column;
}

table {
    /* make all th, td borders combine */
    border-collapse: collapse;  
    width: 80%;

    /* border: 1px solid #ddd; */
}

th, td {
    border-bottom: 1px solid #ddd;
    /* border: 1px solid #ddd; */
   text-align: left;
    
    /* border-bottom: solid;
    border-color: white;
    border-width: 5px; */
}