html {
    width: 100%;
}

body {
    background-color: #2f2f2f;
    color:whitesmoke;
    margin: 0;
    font-size: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* main {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.error-message {
    color: red;
    font-style: italic;
    /* 
    item still takes up space.
    If it must be removed use
    display:none
    Similar to element-name.hidden = true in js
    */
    visibility: hidden;
}


#pricing-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

table {
    /* make all th and td borders combine */
    border-collapse: collapse;  
    /* width: 80%; */

    /* border: 1px solid #ddd; */
}

th, td {
    border-bottom: 1px solid #ddd;
    text-align: left;
}

p, h2 {
    text-align: center;
}