/* For small screens */
@media(max-width:800px) {
    main {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .error-message {
        font-size: 15px;
    }


    #pricing-info {
        /* make it the same size as the seat map */
        max-width: 400px;
        min-width: 400px;
    }

    table {
        width: 100%;
        overflow-x: scroll;
    }

    th, td {
        border-bottom: 1px solid #ddd;
        font-size: 15px;
    }

    h2 {
        font-size: 20px;
    }
    p, a {
        font-size: 15px;
    }
 }

 /* For big screens */
 @media(min-width: 801px) {
    main {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .error-message {
        font-size: auto;
    }

    #pricing-info {
        /* make it the same size as the seat map */
        max-width: 1200px;
        min-width: 900px;
    }

    table {
        width: 100%;
        overflow-x: scroll;
    }

    th, td {
        border-bottom: 1px solid #ddd;
        font-size: 25px;
    }

    h2 {
        font-size: auto;
    }
    p, a {
        font-size: auto;
    }

    a {
        color: white;
    }

 }



html {
    width: 100%;
}

body {
    /* removes gap under the footer */
    height:100vh;
    
    /* background-color: #2f2f2f; */
    background-color: #323339;
    color:whitesmoke;
    margin: 0;
    font-size: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2.5rem;

    margin-top: 2%;
    margin-bottom: 2%;
    /* margin: auto; */

    font-family: sans-serif;
}

.error-message {
    color: red;
    font-style: italic;
    /* 
    item still takes up space.
    If it must be removed use
    display:none
    Similar to element-name.hidden = true in js
    */
    /* visibility: hidden; */
    display:none;

}

#pricing-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

table {
    /* make all th and td borders collapse together */
    border-collapse: collapse;  
    width: 100%;
    overflow-x: scroll;
    /* border: 1px solid #ddd; */
}

tr {
    overflow: scroll;
}

th, td {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 10px 5px;

}

/* tr:nth-child(even) {
    background-color: #444;
  }

  tr:nth-child(odd) {
    background-color: #555;
  }

  th {
    background-color: #666;
    color: white;
  } */



p, h2, a {
    text-align: center;
    /* margin: auto; */
}

a {
    color: white;
}